*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  align-items: center;
  display: flex;
  gap: 0.6rem;
  height: 100vh;
  width: 100%;
  justify-content: center;

}

#root>div {
  width: 100%;
}